<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
  
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

  </head>
  <body>
       <% include header.ejs %>
      <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
         
          <% include sidebar.ejs %>
         
        </div>
          <%- body %>
            </div>
    
       <% include footer.ejs %>
  </body>
</html> 